/* Footer.css */

/* Add the CSS for the footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(47, 47, 47);
    color: wheat;
    padding: 10px;
    text-align: center;
  }
  